{% extends 'base.html.twig' %}

{% block title "Ajouter un commentaire" %}

{% block body %}
    <h1 class="m-5">Ajouter un commentaire</h1>

    <div class="form container">
        {{ form(form) }}
    </div>
{% endblock %}
